server:
  port: 8084

spring:
  application:
    name: journal-service
  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: ${MONGODB_DATABASE:intraday_decision}
  webflux:
    base-path: /api/journal

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    root: INFO
    com.intraday: DEBUG
